<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Data table
            </mat-panel-title>
            <mat-panel-description>
                Click to {{panelOpenState ? 'hide' : 'show'}} data table
            </mat-panel-description>
        </mat-expansion-panel-header>

        <table mat-table [dataSource]="investitions$" class="table">

            <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element; let i = index">
                    {{ i + 1 }}
                </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element; let i = index">
                    <span *ngIf="!isRowEditing(i)"> {{element.date}} </span>
                    <mat-form-field *ngIf="editingModel && isRowEditing(i)" appearance="standard">
                        <input matInput  [(ngModel)]="editingModel.date" type="datetime-local">
                        <mat-hint>Date and time of inevstition</mat-hint>
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="currency">
                <th mat-header-cell *matHeaderCellDef> Currency </th>
                <td mat-cell *matCellDef="let element; let i = index">
                    <span *ngIf="!isRowEditing(i)"> {{element.currency}} </span>
                    <mat-form-field *ngIf="editingModel && isRowEditing(i)" appearance="standard">
                        <input matInput [(ngModel)]="editingModel.currency">
                        <mat-hint>Valid shortcut ex. ETH</mat-hint>
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Amount </th>
                <td mat-cell *matCellDef="let element; let i = index">
                    <span *ngIf="!isRowEditing(i)"> {{element.amount}} </span>
                    <mat-form-field *ngIf="editingModel && isRowEditing(i)" appearance="standard">
                        <input matInput [(ngModel)]="editingModel.amount">
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="cost">
                <th mat-header-cell *matHeaderCellDef> Cost </th>
                <td mat-cell *matCellDef="let element; let i = index;">
                    <span *ngIf="!isRowEditing(i)"> {{element.cost}} </span>
                    <mat-form-field *ngIf="editingModel && isRowEditing(i)" appearance="standard">
                        <input matInput [(ngModel)]="editingModel.cost">
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="fee">
                <th mat-header-cell *matHeaderCellDef> Fee </th>
                <td mat-cell *matCellDef="let element; let i = index">
                    <span *ngIf="!isRowEditing(i)"> {{element.fee}} </span>
                    <mat-form-field *ngIf="editingModel && isRowEditing(i)" appearance="standard">
                        <input matInput [(ngModel)]="editingModel.fee">
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef class="table__column-options">
                    <div class="table__header-manage">
                        <mat-icon (click)="addRow()" class="icon add"> add_circle_outline </mat-icon>
                        <mat-icon [matMenuTriggerFor]="storageMenu" class="icon save"> save </mat-icon>
                        <mat-menu #storageMenu="matMenu" xPosition="before">
                          <button mat-menu-item [matMenuTriggerFor]="importMenu">Import</button>
                          <button mat-menu-item [matMenuTriggerFor]="exportMenu">Export</button>
                        </mat-menu>
                        <mat-menu #importMenu="matMenu" xPosition="before">
                          <label mat-menu-item>
                            File 
                            <input
                                #fileInput
                                (change)="fileSelected()"
                                class="hide"
                                id="file"
                                type="file"
                                accept="application/json"
                            >
                          </label>
                          <!-- <button mat-menu-item (click)="loadData('localeStorage')">browser</button> -->
                        </mat-menu>
                        <mat-menu #exportMenu="matMenu" xPosition="before">
                          <button mat-menu-item (click)="saveData('json')">File</button>
                          <!-- <button mat-menu-item (click)="saveData('localeStorage')">browser</button> -->
                        </mat-menu>
                    </div>
                </th>
                <td mat-cell *matCellDef="let element; let i = index" class="table__column-options">
                    <mat-icon *ngIf="!isRowEditing(i)" (click)="startEditRow(i)" class="icon"> edit </mat-icon>
                    <mat-icon *ngIf="isRowEditing(i)" (click)="stopEditRow()" class="icon save"> done </mat-icon>
                    <mat-icon (click)="removeRow(i)" class="icon remove"> delete </mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="7" class="table__no-data">No data yet, use add button</td>
            </tr>
        </table>

    </mat-expansion-panel>
</mat-accordion>